<div class="content">
  <div class="add_model_bloc">
    @if (store.addingNewModel()) {
      <app-input
        [valid]="inputValid()"
        placeholder="Enter the model name"
        (onInput)="onInput($event)"
        (send)="addModel()"
        (cancel)="store.endAddNewModel()"
      />

    } @else {
      <div (click)="store.startAddNewModel()" class="btn">
        <span class="material-symbols-outlined icon">add</span>
        Add new model
      </div>
    }
  </div>

  @for (model of store.models(); track $index) {
    <app-model
      [model]="model"
      [selected]="store.selectedIndex() === $index"
      (delete)="store.delete($index)"
      (addField)="store.addField($index, $event)"
      (removeField)="store.removeField($index, $event)"
      (select)="store.select($index)"
    />
  }

</div>
